AZURE_CLIENT_ID=<your Client ID>
AZURE_TENANT_ID=<your Azure Tenant ID>
AZURE_CLIENT_SECRET=<your Client App Secret>
SUBSCRIPTION_ID=<your Azure Subscription ID>
RESOURCE_GROUP=<your Azure DNS Zone resource group>
DNS_ZONE=<your Azure DNS Zone>
RECORD_NAME=<your Azure DNS A Record>
INTERVAL_MINUTES=<number of minutes for the interval or negative for a single run>